body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #1e1e1e;
    color: white;
}

/* 顶栏 */
.topbar {
    height: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

/* 侧边栏和主区域 */
.main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 60px;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar button {
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: #252526;
    transition: 0.3s;
}


.sidebar button:hover {
    background-color: #363636;
}

/* 主内容区 */
#layout-container {
    flex: 1;
    background-color: #1e1e1e;
    overflow: hidden;
}

/* Golden Layout窗口内 */
.editor-container {
    height: 100%;
    width: 100%;
}

/* 子菜单栏 */
.add-submenu {
    width: 200px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    overflow: hidden;
}

.add-submenu.collapsed {
    width: 0;
}

.add-submenu button {
    background: none;
    padding: 8px 0;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}